/* Add your CSS here */

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700);

html
{
	position:relative;
	min-height: 100%;
}

body
{
	margin-bottom:60px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: normal;
	line-height: 1.2em;
	margin: 0 0 1em 0;
	color: #2f2f2f;
	text-transform: uppercase;
}

h3
{
	font-weight:700;
}

a:hover, a:active, a:focus
{
	outline:0 !important;
}

.header-main:before, .header-main, .page-heading:before, .page-heading:after
{
	background:#fff;
}

.flexnav > li > a
{
	color:#000;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight:700;
}

.flexnav-show > li > a
{
	color:#fff;  
}

.flexnav > li.item-with-ul > a:after {
	display: inline-block;
	content: "\f0d7";
	font-family: 'FontAwesome';
	font-size: 14px;
	color: #000;
	margin-left: 6px;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	position: relative;
	top: -2px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.flexnav-show > li.item-with-ul > a:after {
	display: inline-block;
	content: "\f0d7";
	font-family: 'FontAwesome';
	font-size: 14px;
	color: #fff;
	margin-left: 6px;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	position: relative;
	top: -2px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.codeX body.home
{
	background:#2F2F2F !important;
}


/* home page header styling */
.header-main:before, .home-page .header-main, header.home-page
{
	background:transparent;
	background-image:none;
}

header.home-page
{
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.5)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

}

.home-page .header-main
{
	margin-bottom:-180px;
}

.home-page .header-main:before
{
	background-image:none;
}

.home-page .header-main .tagline
{
	color:#fff;
}

.home-page .flexnav li > a
{
	color:#fff;
}


.home-page .flexnav li:hover a
{
	color:inherit;
}


.home-page .flexnav > li.item-with-ul > a:after 
{
	display: inline-block;
	content: "\f0d7";
	font-family: 'FontAwesome';
	font-size: 14px;
	color: #fff;
	margin-left: 6px;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	position: relative;
	top: -2px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.header .logo, .header .logo img
{
	width:150px;
}

.header .logo .tagline {
	font-size: 12px;
}

/* Slide styles */

.codeX, .home, .home .site-wrapper, .swiper-container, .slide-image
{
	height:100%;
	width:100%;
}

body.home
{
	margin-bottom:0;
}

.caption
{
	position:absolute;
	bottom:20%;
	color:#fff;
	width:420px;
	max-width:100%;
	text-shadow:0 0 6px rgba(0,0,0,.6);
}


.caption h3
{
	font-family: 'Source Sans Pro', sans-serif;
	font-size:30px;
	color:#fff;
	margin-bottom:20px;
	font-weight:700;
	text-transform:none;
}

.caption p
{
	font-family: 'Source Sans Pro', sans-serif;
	font-size:20px;
	color:#fff;
	font-weight:200;
	line-height:26px;
}


.btn
{
	background:#8bc53f;
	color:#fff;
	font-family: 'Source Sans Pro', sans-serif;
	text-transform: uppercase;
	font-size:16px;
}

.btn:hover 
{
	background:#7eb22b;
	color:#fff
}

.btn .fa
{
	font-size:22px;
	margin-left:5px
}

.pagination {
	position: absolute;
	z-index: 20;
	left: 10px;
	right:10px;
	bottom: 10px;
	text-align:center
}
.swiper-pagination-switch {
	display: inline-block;
	width: 12px;
	height: 12px;
	border-radius: 8px;
	background: #fff;
	margin-right: 5px;
	opacity: 0.8;
	border: 1px solid #ccc;
	cursor: pointer;
}
.swiper-visible-switch {
	background: #fff;
}
.swiper-active-switch {
	background: #8bc53f;
	border-color:#8bc53f;
}

/* End home page header styling */


.team-head
{
	min-height:80px;
}

.team-list > li 
{
	height:630px;
	text-align:center;
	padding-top:15px;
	padding-bottom:15px;
	border-radius:5px;
	transition:background ease-in .3s;
	margin-bottom:10px;
}

.partners > li
{
	height:auto !important;
	padding-bottom:0;
}

.team-list > li img
{
	border-radius:50%;
	border:none;
	padding:0;
	width:190px;
	height:auto;
}

.partners > li img
{
	border-radius:0 !important;
}

.team-list > li:hover
{
	background:#f9f9f9;
}

/* default page styles */

.page-heading
{
	border:none;
}

.tabs .tab-content
{
	box-shadow:none
}

.icon-box.centered .icon
{
	font-size:50px;
	height:120px;
	width:120px;
	display:inline-block;
	float:none;
	text-align:center;
	margin-right:0;
}

.icon-box.centered
{
	text-align:center !important;
}

.icon-box.centered  .icon .fa
{
	margin-top:37px;
}

.icon-box-body h3
{
	display:block;
	width:100%;
	text-align:center;
}

.block-row
{
	position:relative;
}

.block-row .block-col, .icon-box
{
	position:static;
}

.icon-box .icon-box-body
{
	display: none;
	position:absolute;
	z-index:99;
	background:#fff;
	left:0;
	right:0;
	text-align:left;
	padding:10px 15px;
}

.icon-box .icon-box-body h3
{
	text-align:left;
}

.active-block {
	color: #fff;
}

.active-block:before {
	-webkit-transform: scale(0.9, 0.9);
	-ms-transform: scale(0.9, 0.9);
	transform: scale(0.9, 0.9);
	background-color: #2f2f2f !important;
}

.active-block:after {
	background: #fff;
	box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.08);
}

#map-canvas
{
	width:100%;
	height:400px;
	display: block;
}

/* footer styles */
.footer-copyright
{
	height:65px;
	position:absolute;
	bottom:0;
	width:100%;
}

#back-top a .fa {
	width: 44px;
	height: 44px;
	line-height: 44px;
	display: block;
	font-size: 14px;
	background: #8bc53f;
	border-radius: 6px;
}
#back-top a:hover {
	color: #fff;
}
#back-top a:hover .fa {
	background-color: #7eb22b;
}

/* Curriculum styling */

svg
{
	margin-top:-50px;
}

.node {
  cursor: pointer;
}

.node circle {
  fill: #8bc53f !important;
  stroke: #8bc53f;
  stroke-width: 1.5px;
}

.node text {
  font: 13px sans-serif;
}

.link {
  fill: none;
  stroke: rgba(139,197,63,.3);
  stroke-width: 2px;
}


@media only screen and (max-width : 1200px) {

	.team-list > li 
	{
		height:560px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.team-list > li 
	{
		height:540px;
	}

	.icon-box.centered .icon
	{
		font-size:50px;
		height:100px;
		width:100px;
		display:inline-block;
		float:none;
		text-align:center;
		margin-right:0;
	}

	.icon-box.centered
	{
		text-align:center !important;
	}

	.icon-box.centered  .icon .fa
	{
		margin-top:26px;
	}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.team-list > li 
	{
		height:auto;
	}

	.footer-copyright
	{
		height:65px;
		position:absolute;
		bottom:0;
		width:100%;
		padding-top:5px;
	}

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
	.team-head
	{
		min-height: 0;
	}

	.caption
	{
		position:relative;
		margin-top:250px;
		color:#fff;
		width:100%;
		text-shadow:0 0 6px rgba(0,0,0,.6);
		display:block;
	}

	.caption h3
	{
		font-size:20px;
	}

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {

}
