---
layout: content
title: Partners
---

<section class="page-contents">
	<!-- Partner logos and links -->
	<div class="container">
		{% assign counter = 0 %}
		<ul class="team-list partners row">
			{% for p in site.data.partners %}
				<li class="team-item col-md-2">
					<figure class="alignnone">
						<a href="{{p.url}}" target="_blank"><img src="/images/{{p.image}}"></a>
					</figure>
				</li>
				{% capture temp %}{{ counter | plus: 1 }}{% endcapture %}
				{% assign counter = temp %}
				{% if counter == '6' %}
  					</ul>
  					<ul class="team-list row">
  					{% assign counter = 0 %}
				{% endif %}
			{% endfor %}
		</ul>
		<br><br>
		<div class="row">
			<div class="col-md-12">
				{% for t in site.data.partner_text %}
					<h3>{{t.header}}</h3>
					<p>{{t.content}}</p>
				{% endfor %}
			</div>
		</div>
		<div class="row">
			{% for i in site.data.partner_images %}
					<div class="col-sm-4 image-blocks">
						<img src="/images/{{i.image}}" alt="">
					</div>
			{% endfor %}
		</div>
	</div>
</section>
