---
layout: content
title: Press
---
<section class="page-contents">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                {% for post in site.categories['press'] limit: 5 %}
                    <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
                    {{ post.excerpt}}<br><br>
<!--                    <a href="{{ post.url }}">Read more......</a> -->
                {% endfor %}
            </div>
            <div class="col-md-3">
                <ul class="list-unstyled">
                  {% for p in site.categories['press'] %}
                    <li>
                      <a href="{{ p.url }}">{{ p.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
