<div class="sliderHolder">
	<div class="container">
		<div class="royalSlider rsMinW">
			{% for p in site.data.banner %}
			<div class="rsContent">
				<img class="rsImg" src="/images/{{p.image}}" />
				<div class="rsOverlay"></div>
				<div class="bContainer">
					<div class="rsABlock tp-caption finewide_small_white txtCent" data-move-effect="top">
						{{p.caption_head}}
					</div> <!--
					<div class="rsABlock tp-caption stability_graydivider2px left" data-move-effect="left" data-move-offset="200"
					data-delay="200">&nbsp;</div>
					<div class="rsABlock tp-caption stability_graydivider2px right" data-move-effect="right" data-move-offset="200"
					data-delay="200">&nbsp;</div>-->
					<div class="rsABlock tp-caption stability_verysmall_white_mw txtCent" data-move-effect="bottom" data-delay="1200">
						<br>{{p.caption_body}}
					</div>				
				</div>
				<!--<div class="rsTmb">{{p.thumb}}</div> -->
			</div>
			{% endfor %}
		</div>
	</div>
</div>