<div class="swiper-container">
    <div class="swiper-wrapper">
			{% for p in site.data.banner %}
			 <div class="swiper-slide">
				<a href="{{p.link}}">
					<div class="slide-image" style="background-image:url(http://deeptest.co.za/codex-images/{{p.image}}); background-repeat:no-repeat; background-position:center top; background-size:cover;" />
						<div class="container">
							<div class="caption">
								<h3>{{p.caption_head}}</h3>
								<p>{{p.caption_body}}</p>
								<button class="btn">{{p.button_text}} <i class="fa fa-angle-right"></i> </button>
							</div>				
						</div>
					<!--<div class="rsTmb">{{p.thumb}}</div> -->
					</div>
				</a>
			</div>
			{% endfor %}
		</div>
		<div class="pagination"></div>
	</div>