<div class="swiper-container">
    <div class="swiper-wrapper">
			{% for p in site.data.banner %}
			 <div class="swiper-slide">
				<div class="slide-image" style="background-image:url(images/{{p.image}}); background-repeat:no-repeat; background-position:center top; background-size:cover;" />
					<div class="container">
						<div class="caption">
							<h3>{{p.caption_head}}</h3>
							<p>{{p.caption_body}}</p>
							<a href="{{p.link}}"><button class="btn">Apply now <i class="fa fa-angle-right"></i> </button></a>
						</div>				
					</div>
				<!--<div class="rsTmb">{{p.thumb}}</div> -->
				</div>
			</div>
			{% endfor %}
		</div>
		<div class="pagination"></div>
	</div>