<!-- Javascript Files as recommended by the template
	================================================== -->
	<script src="/vendor/jquery-1.11.0.min.js"></script>
	<script src="/vendor/jquery-migrate-1.2.1.min.js"></script>
	<script src="/vendor/bootstrap.js"></script>
	<script src="/vendor/jquery.flexnav.min.js"></script>
	<script src="/vendor/jquery.hoverIntent.minified.js"></script>
	<script src="/vendor/jquery.flickrfeed.js"></script>
	<script src="/vendor/isotope/jquery.isotope.min.js"></script>
	<script src="/vendor/isotope/jquery.isotope.sloppy-masonry.min.js"></script>
	<script src="/vendor/isotope/jquery.imagesloaded.min.js"></script>
	<script src="/vendor/magnific-popup/jquery.magnific-popup.js"></script>
	<script src="/vendor/owl-carousel/owl.carousel.min.js"></script>
	<script src="/vendor/jquery.fitvids.js"></script>
	<script src="/vendor/jquery.appear.js"></script>
	<script src="/vendor/jquery.stellar.min.js"></script>
	<script src="/vendor/snap.svg-min.js"></script>
	<script src="/vendor/mediaelement/mediaelement-and-player.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
	<script src="/js/custom.js"></script>

	<!-- jQuery Royal Slider  -->
	<script src="/vendor/swiper/swiper.min.js"></script>
	<script>
  var mySwiper = new Swiper('.swiper-container',{
    pagination: '.pagination',
    paginationClickable: true,
    autoplay:10000,
    loop:true,
    speed:500
  })
  </script>
