<!-- Javascript Files as recommended by the template
	================================================== -->
	<script src="/vendor/jquery-1.11.0.min.js"></script>
	<script src="/vendor/jquery-migrate-1.2.1.min.js"></script>
	<script src="/vendor/bootstrap.js"></script>
	<script src="/vendor/jquery.flexnav.min.js"></script>
	<script src="/vendor/jquery.hoverIntent.minified.js"></script>
	<script src="/vendor/jquery.flickrfeed.js"></script>
	<script src="/vendor/isotope/jquery.isotope.min.js"></script>
	<script src="/vendor/isotope/jquery.isotope.sloppy-masonry.min.js"></script>
	<script src="/vendor/isotope/jquery.imagesloaded.min.js"></script>
	<script src="/vendor/magnific-popup/jquery.magnific-popup.js"></script>
	<script src="/vendor/owl-carousel/owl.carousel.min.js"></script>
	<script src="/vendor/jquery.fitvids.js"></script>
	<script src="/vendor/jquery.appear.js"></script>
	<script src="/vendor/jquery.stellar.min.js"></script>
	<script src="/vendor/snap.svg-min.js"></script>
	<script src="/vendor/mediaelement/mediaelement-and-player.min.js"></script>

	<script src="/js/custom.js"></script>

	<!-- jQuery Royal Slider  -->
	<script src="/vendor/royalslider/jquery.royalslider.min.js"></script>
	<script>
		jQuery(document).ready(function($) {
			$(".royalSlider").royalSlider({
				imageAlignCenter: true,
				imageScalePadding: 0,
				imageScaleMode: "fill",
				globalCaption:true,
				controlNavigation: 'none',
				slidesSpacing: 0,
				keyboardNavEnabled: true,

				thumbs: {
					firstMargin: false,
					paddingBottom: 4,
					spacing: 0,
				},

				autoPlay: {
					enabled: true,
					pauseOnHover: true,
					delay: 6000
				}
			});
		});
	</script>