<!--
<div class="footer">
	<div class="container">
 		<i class="fa fa-map-marker"></i> The Stables, 9a Wandel St, Cape Town, South Africa | 
		<i class="fa fa-phone"></i> +27(21)123-4567 |
		<i class="fa fa-envelope"></i> <a href="mailto:info@projectcodex.co">info@projectcodex.co</a>
	</div>
</div>
-->
<div class="footer-copyright">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-md-4">
				Copyright &copy; 2014  <a href="/index.html">&nbsp; codeX</a> &nbsp;| &nbsp;All Rights Reserved
			</div>
			<div class="col-sm-6 col-md-8">
				<div class="social-links-wrapper">
					<span class="social-links-txt"><a href="/content/contact.html">Connect with us</a></span>
					<ul class="social-links social-links__dark">
						<li><a href="http://www.facebook.com/projectcodeX" target="_blank"><i class="fa fa-facebook"></i></a></li>
						<li><a href="http://twitter.com/project_codeX" target="_blank"><i class="fa fa-twitter"></i></a></li>
						<li><a href="mailto:info@projectcodex.co" target="_blank"><i class="fa fa-envelope"></i></a></li>
						<li><a href="http://instagram.com/projectcodeX" target="_blank"><i class="fa fa-instagram"></i></a></li>
						<li><a href="/content/banking.html"><i class="fa fa-credit-card"></i></a></li>
						<!-- li><a href="#"><i class="fa fa-rss"></i></a></li -->
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>