<button type="button" class="navbar-toggle">
	<i class="fa fa-bars"></i>
</button>

<nav class="nav-main">
	<ul data-breakpoint="300" class="flexnav" >
		{% for section in site.data.navigation %}
			{% assign sec_url = section.source | prepend:"/content/" | append:".html" %}
			{% if sec_url == page.url %}
				<li class="active"><a href="{{sec_url}}">{{section.title}}</a>
				{% else %}
				<li><a href="{{sec_url}}">{{section.title}}</a>
			{% endif %}
			{% if section.sub %}
				<ul>
				{% for submenu in section.sub %}
					{% assign submenu_url = submenu.source | prepend:"/content/" | append:".html" %}
					<li><a href="{{submenu_url}}">{{submenu.title}}</a></li>
				{% endfor %}
				</ul>
			{% endif %}
			</li>
		{% endfor %}
	</ul>
</nav>

