<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">

        <!-- Custom CSS -->
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/css/theme.css">
        <link rel="stylesheet" type="text/css" href="/css/theme-elements.css">
        <link rel="stylesheet" type="text/css" href="/css/skins/green.css">
        <link rel="stylesheet" type="text/css" href="/css/small.css">

        <script type="text/javascript" src="/js/jquery-2.1.0.min.js"></script>
        <script type="text/javascript" src="/js/jquery.flexnav.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>
        <script>
            $(".flexnav").flexNav();
        </script>


    </head>