<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <!-- Google Web Fonts
    ================================================== -->
    <link href='http://fonts.googleapis.com/css?family=Anton|Muli:300,400,400italic,300italic|Oswald' rel='stylesheet' type='text/css'>
 
    <!-- CSS
    ================================================== -->
    <!-- Base + Vendors CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/fonts/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/vendor/owl-carousel/owl.carousel.css" media="screen">
    <link rel="stylesheet" href="/vendor/owl-carousel/owl.theme.css" media="screen">
    <link rel="stylesheet" href="/vendor/magnific-popup/magnific-popup.css" media="screen">
    <link rel="stylesheet" href="/vendor/mediaelement/mediaelementplayer.css" />
    <link rel="stylesheet" href="/vendor/rs-plugin/css/settings.css" media="screen">

    <!-- Royal Slider
    ================================================== -->
    <!-- base stylesheet -->
    <link rel="stylesheet" href="/vendor/royalslider/royalslider.css">
    <!-- skin stylesheet (change it if you use another) -->
    <link rel="stylesheet" href="/vendor/royalslider/skins/minimal-white/rs-minimal-white.css"> 

    <!-- Theme CSS-->
    <link rel="stylesheet" href="/css/theme.css">
    <link rel="stylesheet" href="/css/theme-elements.css">
    <link rel="stylesheet" href="/css/animate.min.css">

    <!-- Skin CSS -->
    <link rel="stylesheet" href="/css/skins/green.css">
    
    <!-- Custom CSS-->
    <link rel="stylesheet" href="/css/custom.css">

    <!-- Head Libs -->

    <script src="/vendor/modernizr.js"></script>

    <!--[if lt IE 9]>
        <link rel="stylesheet" href="vendor/rs-plugin/css/settings-ie8.css" media="screen">
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <script src="vendor/respond.min.js"></script>
        <![endif]-->

    <!--[if IE]>
        <link rel="stylesheet" href="css/ie.css">
        <![endif]-->
    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="images/apple-touch-icon-144x144.png">
</head>