<div class="header-top">
	<div class="container">
		<div class="header-top-left">
			<ul class="header-top-nav">
			<li><a href="/index.html">Home</a></li>
				<li><a href="#">Pricing</a></li>
				<li><a href="#">FAQs</a></li>
			</ul>
		</div>
		<!--
		<div class="header-top-right">
			<span class="login">
				<i class="fa fa-lock"></i> <a href="#">Login</a>
			</span>
			<span class="register">
				<i class="fa fa-pencil-square-o"></i>	Not a member? <a href="#">Register</a>
			</span>
		</div>
		-->
	</div>
</div>