{% include top.html %}
<body>
	<div class="site-wrapper">
		{% include header.html %}
		<div class="main" role="main">
			{% if page.title %}
			<section class="page-heading">
				<div class="container">
					<a href="{{page.url}}"><h1> {{page.title}} </h1></a>
				</div>
			</section>
			{% endif %}
			<section>
				<div class="container">
					<div class="page-content">
						{{ content }} 
					</div>
				</div>
			</section>
		</div>
	</div>

	{% include footer.html %}
	{% include bottom.html %}
</body>
</html>
